@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* { 
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header{
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
  height: 130px;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
  background-size: cover;
  background-position: center;

}

.nav-header{
  
  display: flex;
  justify-content: space-between;
  width: 80%;
  top: 20px;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.header-btn{
  font-weight: 700px;
  font-size: 18px;
  color: black;
  margin-top: 57px;
  margin-bottom: 60px;
}

.nav-header__menu{
  display: flex;
  justify-content: space-between;
  width: 300px;
}


.account-btn{
  display: flex;
  justify-content: space-between;
  width: 110px;
  align-items: center;
  font-size: 18px;
}

.menu-burger{
  display: flex;
}


.mobile-menu{
  display: none;
  height: 268px;
  width: 100%;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
}

.mobile-menu__upper{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 64px;
}

.mobile-menu__lower{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 64px;
}

.filter{
  filter: invert(1);
}

.header-btn__black {
  font-weight: 700;
  font-size: 18px;
  color: black;
}



@media (max-width: 768px) {
  .menu-burger {
    display: block;
  }
  .header-btn{
    display: none;
  }

}

@media (max-width: 480px) {
.nav-header__menu{
  flex-direction: column;
}
.header-btn__black{
  margin-bottom: 40px;
}
}


main{
  font-family: "Cormorant", serif;
}

.page {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  margin-top: 70px;
  padding-bottom: 48px;
  background-size: cover;
  background-position: center;
}

.cup {
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 240px;
  color: white;
  font-size: 60px;
  padding-left: 199.88px;
}

.wide {
  color: white;
  opacity: .7;
  font-size: 24px;
  padding-left: 199.88px;

}

.drink {
  padding-top: 100px;
  text-align: center;  
  padding-bottom: 10px;
  font-size: 40px;
  justify-content: center;
  margin-bottom: 150px;
}

.explore {
  text-align: center;
  padding-bottom: 60px;
  font-family: "Cormorant", serif;
  font-size: 40px;
}

.list-conteiner {
  max-width: 1440px;
  margin: 0 auto;
  border: 4px solid #000;
  margin-bottom: 150px;
}


.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: 33, 45;
}


.allText-conteiner {
  background-color:#F7F2EA;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;

}

.clients {
  margin-top: 150px;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
  font-size: 40px;
}

.text-conteiner {
  max-width: 1200px;
  margin: 0 auto;
  border: 4px solid #000;
  margin-bottom: 150px;
}


.text {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  justify-content: center;
  gap: 26px;
  font-family: "Open Sans", sans-serif;
}



.list__item {
  text-align: left  

}

.tea {
  margin-left: 5%;
  margin-right: 5%;
  background-position: center;
  text-align: center;
}

.blog {
  padding-top: 210px;
  color: black;
  text-align: center;  
  padding-bottom: 60px;
  font-size: 40px;

}

.photo-conteiner {
  max-width: 1100px;
  margin: 0 auto;
  border: 4px solid #000;
  margin-bottom: 150px;
}

.photo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  font-size: 24px;
  margin-bottom: 60px;
}

.photo__item {
  text-align: left;  
  width: 200px;
}



.viewAll {
  font-size: 24px;
  max-width: 100px;
  text-align: center;
  justify-content: center;
  margin: auto;
  border: solid #000;
}

.want {
  margin-top: 60px;
  background-color: #F7F2EA;
  background-position: center;
  flex-wrap: wrap;
}

.wantMore {
  padding-left: 200px;
  padding-top: 100px;
  padding-bottom: 60px;  
  font-size: 40px;
  margin-top: 120px;
}

.Jain {
  width: 400px;
  padding-bottom: 100px;
  font-size: 20px;
  background-position: center;
  float: left; margin-right: 10px;
  padding-left: 200px;
}

.join {
  padding-bottom: 60px;
  padding-left: 200px;

}


.we {
  margin-left: 5%;
  margin-right: 5%;
}

.wePrioritise {
  font-size: 40px;
  padding-top: 150px;
  text-align: center;  
  padding-bottom: 60.04px;  
}

.we-conteiner {
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 150px;
  
}

.Prioritise {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 60px;
  
}

.we__Prioritise {
  text-align: center; 
  font-size: 30px;
  width: 1000px;
  height: auto;
 
}

.save {
  font-size: 20px;
}

.uou {
  padding-top: 39.97px;
}



.footer {
  background-color:#F7F2EA;
  max-width: 100%;
  padding: 5%;
}

.footer-conteiner {
  display: flex;
  gap: 50px;
  padding-bottom: 140px;

}

.name {
  font-family: "Cormorant", serif;
  font-size: 24px;
  width: 1000px;
  padding-top: 100px;
}

.footer-li {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: left; 
  list-style: none;
  justify-content: left;
  padding-top: 20px;
  display: flex;
  padding-bottom: 20px;
}

.footer-lii {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-align: left; 
  list-style: none;
  justify-content: left;
  padding-top: 20px;
  display: flex;
  padding-bottom: 20px;
}

.img {
display: flex;
font-size: 13px;
padding-bottom: 40px
}

.ooo {
  padding-left: 40px;
  margin-top: 20px;
  
}

.uuu {
  padding-top: 100px;
padding-left: 40px;
}